@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body {
  
    background: #47626d;
    color: white;
    text-align: center;
     /*font-size: 15px;
    font-weight:normal;
    font-family: 'Merriweather', serif;*/
    font: normal  16px 'Merriweather', serif;
    
}
.avatar {
  width: 200px;
  border-radius: 28%;
  box-shadow: 7px 7px 25px rgba(0,0,0,025);
}

.info p {
  color: rgb(7, 247, 79);
  margin: 0%;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.social {
  background: gray;
}